.otp_screen_container {
    text-align: left;
    padding: 42px 34px 21px 82px;
}

.otp_screen_sub {
    width: 50%;
    margin-top: -29px;
}

.otp_screen_sub p {
    font-weight: 800;
    font-size: 43px;
}

.otp_screen_header {
    margin-bottom: -16px;
    position: relative;
}

.otp_screen_header p {
    font-weight: 500;
    font-size: 21px;
}

.otp_screen_input_container {
    margin-top: -22px;
}

.otp_screen_input {
    padding: 10px;
    margin-left: 1px;
    border-radius: 8px;
    border: 1px solid #747d8c;
    font-size: 25px;
    font-weight: 900;
    width: 14%;
    padding-left: 27px;
}

.otp_screen_btn_container {
    margin-top: 27px;
}

.otp_screen_btn_container button {
    padding: 11px 20px;
    border-radius: 18px;
    font-size: 22px;
    border: none;
    background-color: #F9CB10;
    font-weight: 700;
    outline: none;
}

.timer_container {
    margin-left: 17px;
    font-size: 23px;
}

.fas {
    position: absolute;
    top: 193px;
    left: 725px;
    font-size: 14px;
}